<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.nabunoteapp">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nabu">
        <activity
            android:name="com.gmail.nabunoteapp.ArchiveActivity"
            android:exported="false" />
        <activity
            android:name="com.gmail.nabunoteapp.TrashActivity"
            android:exported="false" />
        <activity
            android:name="com.gmail.nabunoteapp.NoteActivity"
            android:exported="false" />
        <activity
            android:name="com.gmail.nabunoteapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>